[submodule "vagrant/chef/cookbooks/mysql"]
	path = vagrant/chef/cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "vagrant/chef/cookbooks/openssl"]
	path = vagrant/chef/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
